alabaster==0.7.12
anaconda-client==1.6.9
anaconda-navigator==1.7.0
anaconda-project==0.8.2
appdirs==1.4.4
asn1crypto==1.3.0
astor==0.8.1
astroid==2.4.1
astropy==2.0.3
attrs==19.3.0
autobahn==20.2.1
autoflake==1.3.1
Automat==20.2.0
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.1
bitarray==0.8.1
bkcharts==0.2
black==19.10b0
bleach==3.1.4
boto==2.48.0
Bottleneck==1.2.1
brewer2mpl==1.4.1
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
clean-py==0.1
click==7.1.2
cloudpickle==1.4.1
clyent==1.2.2
colorama==0.4.3
comtypes==1.1.4
conda==4.8.3
conda-build==3.4.1
conda-package-handling==1.7.0
conda-verify==3.4.2
constantly==15.1.0
contextlib2==0.5.5
contextvars==2.4
cryptography==2.8
cycler==0.10.0
Cython==0.27.3
cytoolz==0.10.1
dask==2.17.2
dataclasses==0.7
datashape==0.5.4
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
distlib==0.3.0
distributions==0.1
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.8
fsspec==0.7.4
future==0.18.2
gast==0.2.2
Gaussian-Bionomial-Distributions==0.1
geographiclib==1.50
geopy==1.22.0
gevent==1.2.2
ggplot==0.11.5
glob2==0.7
greenlet==0.4.12
h5py==2.7.1
HeapDict==1.0.1
html5lib==1.0.1
hyperlink==19.0.0
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
imagesize==1.2.0
immutables==0.11
importlib-metadata==1.6.0
importlib-resources==1.5.0
incremental==17.5.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.1.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.3
jedi==0.17.0
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==0.31.4
jupyterlab-launcher==0.10.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
llvmlite==0.32.1
locket==0.2.0
lxml==4.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
moviepy==1.0.1
mpmath==1.0.0
msgpack==1.0.0
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.1.0
nb-black==1.0.7
nb-clean==1.4.3
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
newsapi-python==0.2.6
nltk==3.2.5
nose==1.3.7
notebook==5.4.0
numba==0.49.1
numexpr==2.7.1
numpy==1.18.1
numpydoc==0.7.0
olefile==0.46
OpenBlender==1.16
opencv-python==4.2.0.32
openpyxl==2.4.10
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
path.py==10.5
pathlib2==2.3.0
pathspec==0.7.0
patsy==0.5.1
pdfkit==0.6.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==7.1.2
pkginfo==1.5.0.1
plac==1.2.0
plotly==4.4.1
pluggy==0.6.0
ply==3.10
proglog==0.1.9
prompt-toolkit==3.0.5
psutil==5.7.0
PuLP==2.0
py==1.5.2
pycodestyle==2.6.0
pycosat==0.6.3
pycountry==19.8.18
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.1
pyflakes==2.2.0
Pygments==2.6.1
PyHamcrest==2.0.0
pylint==2.5.2
pyodbc==4.0.22
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyros-config==0.2.1
pyros-setup==0.3.0
pyrsistent==0.16.0
PySocks==1.7.1
pytest==3.3.2
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5
PyYAML==5.4
pyzmq==18.1.1
QtAwesome==0.7.0
qtconsole==4.7.4
QtPy==1.9.0
regex==2020.5.14
requests==2.23.0
retrying==1.3.3
rope==0.17.0
roslibpy==0.7.1
ruamel-yaml==0.15.87
scikit-image==0.16.2
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.8.1
Send2Trash==1.4.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
snowballstemmer==2.0.0
sortedcollections==0.5.3
sortedcontainers==2.1.0
soupsieve==2.0.1
Sphinx==1.6.6
sphinxcontrib-websupport==1.2.1
spyder==3.2.6
SQLAlchemy==1.3.17
statsmodels==0.11.1
sympy==1.1.1
tables==3.4.2
tblib==1.6.0
terminado==0.8.1
testpath==0.4.4
textblob==0.15.3
texttable==1.6.2
threadpoolctl==2.1.0
toml==0.10.0
toolz==0.10.0
tornado==4.5.3
tqdm==4.46.0
traitlets==4.3.3
Twisted==19.10.0
txaio==20.1.1
typed-ast==1.4.1
typing==3.7.4.1
typing-extensions==3.7.4.1
unicodecsv==0.14.1
urllib3==1.25.8
wasabi==0.6.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.1.0
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
windows-curses==2.1.0
wkhtmltopdf==0.2
wrapt==1.11.2
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.5
xlwt==1.3.0
yapf==0.30.0
zict==2.0.0
zipp==3.1.0
zope.interface==4.7.1
